#{extends 'main.html' /}
#{set title:'Welcome and hope you will find the peleus is helpful to you!!' /}


<div id="peleusBreadcrumb">
    <a href="@{dashboard.Dashboard.index()}">Dahsboard</a> | <a href="@{myspace.MySpace.index()}">Myspace Home</a>
</div>


<div class="peleusFlash">
<div class="flashMenu"><a href="@{myspace.user.UserFacade.logout()}">Logout</a>
</div>

#{if is_new_user}
<div class="peleusFlash">
    <div class="flashSuccess">&{'myspace.user.register.success', user.email } </div>
</div>

#{/if}



