#{extends 'main.html' /}
#{set title:'Peleus Administration Backyard' /}


<h2>&{'backyard.functions.sharesession.view_all'}</h2>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>&{'domain.sharesession.subject'}</th>

            <th>Posted by</th>

            <th>&{'domain.sharesession.description'}</th>

            <th>&{'common.basic.actions.actions'}</th>

        </tr>
    </thead>
    <tbody>
        #{list items:all_share_sessions, as:'share_session'}
        <tr class="session_${share_session.id}">
            <td>${share_session.id}</td>
            <td><a href="@{backyard.ShareSessionController.show(share_session.id)}" class="show">${share_session.subject}</a></td>
            
            <td>${share_session.creator.name}</td>

            <td>${share_session.description}</td>
            <td>
                #{include 'backyard/ShareSessionController/_action_links.html' /}
            </td>
        </tr>
        #{/list}
    </tbody>
</table>

