#{extends 'main.html' /}
#{set title:'Peleus Administration Backyard:View ShareSession Detail' /}


#{include 'backyard/ShareSessionController/_sessionBreadcrumb.html' /}

<div class="centerStyleForm">
    <h2>${share_session.subject}</h2>

    <p>状态:<strong> ${share_session.status}</strong></p>

    <p>发布者: ${share_session.creator.name}</p>

    <p>分享活动详情<br />

    ${share_session.description}</p>

    <p>组织部门 : ${share_session.department.name}</p>
    <p>分享者 : <br />
        #{list items:share_session.contributors, as:'contributor'}
        ${contributor.name} <br />
    #{/list} </p>

    <p>目标听众: ${share_session.audiences} </p>
    <p>最大人数限制 : ${share_session.audiences_limit} </p>
    <p>时间日期: from ${share_session.start} ~ ${share_session.end} </p>
    <p>地点 : ${share_session.address}</p>
    
    #{include 'backyard/ShareSessionController/_action_links.html' /}


</div>

