#{extends 'main.html' /}
#{set title:'Peleus Administration Backyard:edit user profile' /}

#{include 'backyard/Backyard/_peleusBreadcrumb.html' /}

<div id="peleusContent">
    <form class="centerStyleForm" action="@{backyard.Backyard.update_user()}" method="post">
        <h3>&{'backyard.functions.user.edit'}</h3>
        <label>&{'domain.user.name'}</label>

        <input type="text"  name="user_form.name" value="${flash['user_form.name']}"/>
        <span class="flashError">#{error 'user_form.name' /}</span>
        <br />

        <label>&{'domain.user.department'}</label>

        <select name="user_form.department_id">
            #{list items:departments, as:'department'}
                #{if flash['user_form.department_id'].toLong() == department.id.toLong()}
                <option value="${department.id}" selected="selected">${department.name}</option>
                #{/if}
                #{else}
                <option value="${department.id}">${department.name}</option>
                #{/else}
            #{/list}
        </select>
        <span class="flashError">#{error 'user_form.department_id' /}</span>
        <br />


        <label>&{'domain.user.email'}</label>
        <input type="text"  name="user_form.email" value="${flash['user_form.email']}"/>
        <span class="flashError">#{error 'user_form.email' /}</span>
        <br />


        <label>&{'domain.user.password'}</label>
        <input type="password" name="user_form.password" value="${flash['user_form.password']}"/>
        <span class="flashError">#{error 'user_form.password' /}</span>
        <br />

        <label>&{'myspace.user.password.repeat'}</label>
        <input type="password" name="user_form.repeat_password" value="${flash['user_form.repeat_password']}"/>
        <span class="flashError">#{error 'user_form.repeat_password' /}</span>
        <br />

        <input type="hidden" name="user_form.id" value="${flash['user_form.id']}"/>

        <input type="submit" value="&{'backyard.functions.user.save'}"/>
    </form>
</div>