#{extends 'main.html' /}
#{set title:'Peleus Administration Backyard:Show all users' /}

#{include 'backyard/Backyard/_peleusBreadcrumb.html' /}

<h2>查看全部用户</h2>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>Email</th>
            <th>密码</th>
            <th>所在部门</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        #{list items:all_users, as:'user'}
        <tr>
            <td>${user.id}</td>
            <td>${user.name}</td>
            <td>${user.email}</td>
            <td>${user.password}</td>
            <td>${user.department.name}</td>
            <td> <a href="@{backyard.Backyard.edit_user(user.id)}">编辑</a> | <a href="@{backyard.Backyard.delete_user_confirm(user.id)}">删除</a> </td>
        </tr>
        #{/list}
    </tbody>
</table>
