#{extends 'main.html' /}
#{set title:'Peleus Administration Backyard:edit department profile' /}

#{include 'backyard/DepartmentController/_departmentBreadcrumb.html' /}

<form class="centerStyleForm" action="@{backyard.DepartmentController.update()}" method="post">

    <h3>编辑部门信息</h3>


    <label>部门名称</label>
    <input type="text"  name="department_form.name" value="${flash['department_form.name']}"/><br />
    <span class="flashError">#{error 'department_form.name' /}</span><br />

    <label>部门描述</label>
    <textarea name="department_form.description">${flash['department_form.description']}</textarea>
    <span class="flashError">#{error 'department_form.description' /}</span><br />

    <input type="hidden" name="department_form.id" value="${flash['department_form.id']}"/>

    <input type="submit" value="更新信息"/>
</form>