
.peleusFlash {
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
    font-size:25px;
    color: #fff;

}

.flashError {
    background: #E1D129;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    margin: 5px;
    padding: 3px 12px 3px 12px;
}

.flashSuccess {
    background: #54BD06;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 10px 20px 10px 20px;
    padding:20px;
}

.flashMenu {
    background: #54BD06;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 5px 10px 5px 10px;
    padding:10px;
    font-size: 13px;
}

.flashDialog {
    background: #DDAACC;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 5px 10px 5px 10px;
    padding:10px;
    font-size: 15px;
}

.flashSuccess .tip {
    font-size: 14px;
}
