
.peleusField {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.peleusButtons {
    background: #efefef;
    text-align: right;
    margin: 0;
    padding: 10px;
}

.peleusField .error {
    color: #c00;
    padding-left: 10px;
    position: absolute;
    top: 15px;
    font-size: 80%;
}

.peleusField .hasError {
    color: #c00;
}

.peleusField select[multiple] {
    max-height: 100px;
}

.peleusField .peleusHelp {
    font-size: 70%;
    color: #888;
    display: block;
    margin-left: 20%;
    margin-top: 5px;
}

.currentAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
    padding-top: 4px;
}