
/** Tables **/

#peleus #peleusContent table {
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-collapse: collapse;
}

#peleus #peleusContent table thead tr {
    background: #0A65AF;
}

#peleus #peleusContent table th {
    color: #fff;
    font-weight: bold;
}

#peleus #peleusContent table th a {
    color: #fff;
    font-weight: bold;
}

#peleus #peleusContent table th {
    text-align: left;
    padding: 6px 5px;
}

#peleus #peleusContent table td {
    text-align: left;
    padding: 4px 5px;
}

#peleus #peleusContent table td {
    border-bottom: 1px solid #eee;
}

#peleus #peleusContent table tr.even {
    background: #f9f9f9;
}

#peleus #peleusContent table tr:last-child td {
    border-bottom: 1px solid #ddd;
}
