
#peleus {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', 'Sans';
    font-size: 90%;
    color: #111;
}

/** Header **/

#peleus #peleusHeader {
    background: #ddeeff;
    padding: 10px 20px;
    height:90px;
}

#peleus #peleusHeader h1 {
    margin: 0;
    font-weight: normal;
    color:orange;
}

#peleus #peleusHeader h1 a {
    color: orange;
    text-decoration: none;
}

/** Breadcrumb **/

#peleusBreadcrumb {
    padding: 5px 20px;
    font-size:14px;
    border-bottom: 1px solid #ddd;
}

#peleusBreadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#peleusBreadcrumb li {
    display: inline;
}

#peleusBreadcrumb a {
    color: #333;
}

#peleusBreadcrumb li:last-child a {
    color: #888;
    text-decoration: none;
}

/** Flash message **/

.peleusFlash {
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
    font-size:25px;
    color: #fff;

}

.flashError {
    background: #E1D129;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    margin: 5px;
    padding: 3px 12px 3px 12px;
}

.flashSuccess {
    background: #54BD06;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 10px 20px 10px 20px;
    padding:20px;
}

.flashMenu {
    background: #54BD06;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 5px 10px 5px 10px;
    padding:10px;
    font-size: 13px;
}

.flashDialog {
    background: #DDAACC;
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    margin: 5px 10px 5px 10px;
    padding:10px;
    font-size: 15px;
}

.flashSuccess .tip {
    font-size: 14px;
}

/** Content **/

#peleus #peleusContent {
    padding: 10px 20px;
}

#peleus #peleusContent h2 {
    color: #333;
    font-weight: normal;
    margin-top: 10px;
}

#peleus #peleusContent a {
    color: #444;
}

/** Tables **/

#peleus #peleusContent table {
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    border-collapse: collapse;
}

#peleus #peleusContent table thead tr {
    background: #0A65AF;
}

#peleus #peleusContent table th {
    color: #fff;
    font-weight: bold;
}

#peleus #peleusContent table th a {
    color: #fff;
    font-weight: bold;
}

#peleus #peleusContent table th {
    text-align: left;
    padding: 6px 5px;
}

#peleus #peleusContent table td {
    text-align: left;
    padding: 4px 5px;
}

#peleus #peleusContent table td {
    border-bottom: 1px solid #eee;
}

#peleus #peleusContent table tr.even {
    background: #f9f9f9;
}

#peleus #peleusContent table tr:last-child td {
    border-bottom: 1px solid #ddd;
}

/*
.peleusSortedAsc:after {
content: '$(B"'(B';
}

.peleusSortedDesc:after {
content: '$(B"%(B';
}
*/

/** Forms **/

form {
    margin: 0;
}


input, textarea, select {
    font-family: 'Helvetica', 'Arial', 'Sans';
    font-size: 12px;
    margin: 4px;
}

textarea {
    padding: 2px;
}

.centerStyleForm {
    -moz-border-radius-bottomleft:11px;
    -moz-border-radius-bottomright:11px;
    -moz-border-radius-topleft:11px;
    -moz-border-radius-topright:11px;
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #E5E5E5;
    font-weight:normal;
    margin-left:8px;
    padding:16px 16px 40px;
}
.objectForm {
    border: 1px solid #ddd;
}

label {
    display: block;
    font-weight: bold;
    width: 20%;
    float: left;
    color: #666;
    cursor: pointer;
}

.peleusField {
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.peleusButtons {
    background: #efefef;
    text-align: right;
    margin: 0;
    padding: 10px;
}

.peleusField .error {
    color: #c00;
    padding-left: 10px;
    position: absolute;
    top: 15px;
    font-size: 80%;
}

.peleusField .hasError {
    color: #c00;
}

.peleusField select[multiple] {
    max-height: 100px;
}

.peleusField .peleusHelp {
    font-size: 70%;
    color: #888;
    display: block;
    margin-left: 20%;
    margin-top: 5px;
}

.currentAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
    padding-top: 4px;
}

/** Footer **/

#peleus #peleusFooter {
    font-size: 80%;
    font-weight:bold;
    color: #aaa;
    padding: 10px 20px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-top: 50px;
    text-align: center;
}

#peleus #peleusFooter a {
    color: #333;
}

/** Home **/

.peleusNew {
    text-align: right !important;
}

.peleusNew a {
    background: #54BD06;
    padding: 2px 10px;
    font-size: 90%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #fff !important;
    text-decoration: none;
}

.peleusNew a:hover {
    opacity: .8;
}

/** List **/

#peleusList {
    position: relative;
}

#peleusListAdd a {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #54BD06;
    padding: 3px 10px;
    font-size: 90%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #fff !important;
    text-decoration: none;
}

#peleusListAdd a:hover {
    opacity: .8;
}

#peleusListSearch {
    padding: 4px 5px;
    border: 1px solid #ddd;
    background: #efefef;
}

#peleusListSearch input[type=text] {
    width: 40%;
}

#peleusListSearch a {
    color: #111 !important;
    font-size: 90%;
}

#peleusListPagination {
    padding: 4px 5px;
    border: 1px solid #ddd;
    background: #efefef;
    border-top: 0;
    font-size: 90%;
    position: relative;
}

#peleusListPagination .peleusCount {
    margin: 0;
}

#peleusListPagination .peleusPages {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 4px;
}

/** Show **/

#peleusShow {
    position: relative;
}

.peleusDelete input {
    color: #fff;
    border: none;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #c00;
    padding: 2px 10px;
    font-size: 90%;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    cursor: pointer;
}

.peleusDelete input:hover {
    opacity: .7;
}
