
input, textarea, select {
    font-family: 'Helvetica', 'Arial', 'Sans';
    font-size: 12px;
    margin: 4px;
}

textarea {
    padding: 2px;
}


form {
    margin: 0;
}

label {
    display: block;
    font-weight: bold;
    width: 20%;
    float: left;
    color: #666;
    cursor: pointer;
}





