/* 
    Document   : peleus.menu
    Created on : Jun 18, 2009, 3:58:22 PM
    Author     : arthur
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

