
#{if (share_session.status == models.ShareSession.ShareSessionStatus.CREATED || share_session.status == models.ShareSession.ShareSessionStatus.CLOSED)}
<a href="@{myspace.ShareSessionController.publish(share_session.id)}">&{'common.basic.actions.publish'}</a>
#{/if}
#{else}
<a href="@{myspace.ShareSessionController.close(share_session.id)}">&{'common.basic.actions.close'}</a>
#{/else}
| <a href="@{myspace.ShareSessionController.edit(share_session.id)}">&{'common.basic.actions.edit'}</a>
| <a href="@{myspace.ShareSessionController.delete_confirm(share_session.id)}">&{'common.basic.actions.delete'}</a>

