#{extends 'main.html' /}
#{set title:'Welcome and Join the community!' /}

#{include 'myspace/ShareSessionController/_ssessionBreadcrumb.html' /}

<br />

<div id="peleusContent">
        <form class="centerStyleForm" action="@{myspace.ShareSessionController.update()}" method="post">

        <h3>编辑分享活动</h3>


        <label>组织部门</label>
        <select name="sharesession_form.department_id">
            <option value="0">请选择一个部门</option>

            #{list items:departments, as:'department'}
            #{if flash['sharesession_form.department_id'].toLong() == department.id.toLong()}
            <option value="${department.id}" selected="selected">${department.name}</option>
            #{/if}
            #{else}
            <option value="${department.id}">${department.name}</option>
            #{/else}
            #{/list}
        </select>
        <span class="flashError">#{error 'sharesession_form.department_id' /}</span>
        <br /> 


        <label>分享活动主题</label>
        <input type="text"  name="sharesession_form.subject" value="${flash['sharesession_form.subject']}"/>
        <span class="flashError">#{error 'sharesession_form.subject' /}</span>
        <br />


        <label>目标听众</label>
        <input type="text"  name="sharesession_form.audiences" value="${flash['sharesession_form.audiences']}"/>
        <span class="flashError">#{error 'sharesession_form.audiences' /}</span><br />


        <label>开始时间</label>
        <input type="text"  name="sharesession_form.start_date" value="${flash['sharesession_form.start_date']}"/>
        <span class="flashError">#{error 'sharesession_form.start_date' /}</span><br />


        <label>结束时间</label>
        <input type="text"  name="sharesession_form.end_date" value="${flash['sharesession_form.end_date']}"/>
        <span class="flashError">#{error 'sharesession_form.end_date' /}</span><br />



        <label>地点</label>
        <input type="text"  name="sharesession_form.address" value="${flash['sharesession_form.address']}"/>
        <span class="flashError">#{error 'sharesession_form.address' /}</span>
        <br />


        <label>听众人数限制</label>
        <input type="text"  name="sharesession_form.audiences_limit" value="${flash['sharesession_form.audiences_limit']}"/>
        <span class="flashError">#{error 'sharesession_form.audiences_limit' /}</span><br />

        <label>分享内容详情</label>
        <textarea name="sharesession_form.description">${flash['sharesession_form.description']}</textarea>
        <span class="flashError">#{error 'sharesession_form.description' /}</span><br />



        <label>主分享者(*)</label>
        <select name="sharesession_form.contributor_1_id">
            <option value="0">请选择一名分享者</option>

            #{list items:users, as:'user'}
            #{if flash['sharesession_form.contributor_1_id'].toLong() == user.id.toLong()}
            <option value="${user.id}" selected="selected">${user.name}</option>
            #{/if}
            #{else}
            <option value="${user.id}">${user.name}</option>
            #{/else}
            #{/list}
        </select>
        <span class="flashError">#{error 'sharesession_form.contributor_1_id' /}</span>
        <br />

        <label>第二分享者</label>
        <select name="sharesession_form.contributor_2_id">
            <option value="0">请选择一名分享者</option>

            #{list items:users, as:'user'}
            #{if flash['sharesession_form.contributor_2_id'].toLong() == user.id.toLong()}
            <option value="${user.id}" selected="selected">${user.name}</option>
            #{/if}
            #{else}
            <option value="${user.id}">${user.name}</option>
            #{/else}
            #{/list}
        </select>
        <span class="flashError">#{error 'sharesession_form.contributor_2_id' /}</span>
        <br />

        <label>第三分享者</label>
        <select name="sharesession_form.contributor_3_id">
            <option value="0">请选择一名分享者</option>

            #{list items:users, as:'user'}
            #{if flash['sharesession_form.contributor_3_id'].toLong() == user.id.toLong()}
            <option value="${user.id}" selected="selected">${user.name}</option>
            #{/if}
            #{else}
            <option value="${user.id}">${user.name}</option>
            #{/else}
            #{/list}
        </select>
        <span class="flashError">#{error 'sharesession_form.contributor_3_id' /}</span>
        <br />




        <input type="hidden" name="sharesession_form.id" value="${flash['sharesession_form.id']}"/>

        <input type="submit" value="更新"/>
    </form>
</div>
