#{extends 'main.html' /}
#{set title:messages.get("Peleus Platform::Dashboard::Homepage::首页") /}

#{breadcrumb}
<a href="@{dashboard.Dashboard.index()}">Back to首页</a>
#{/breadcrumb}

#{content}
<div id="main">
    <div id="profile">
        <p id="subject">${share_session.subject}</p>
        <p><span>学习活动详情</span><br /> <br />
            ${share_session.description}</p>
        <p><span>组织部门:</span> ${share_session.department.name}</p>
        <p><span>分享者 :</span> <br />
            #{list items:share_session.contributors, as:'contributor'}
            ${contributor.name} <br />
            #{/list} </p>
        <p><span>面向听众 :</span> ${share_session.audiences} </p>
        <p><span>参加人数限制 :</span> ${share_session.audiences_limit} </p>
        <p><span>日期 : </span>从 ${share_session.humanReadableStartTime} 到 ${share_session.humanReadableEndTime} </p>
        <p><span>地点 :</span> ${share_session.address}</p>

        <p id="poster">posted by
            <span id="poster">
                <a href="@{myspace.user.UserFacade.show(share_session.creator.id)}">${share_session.creator.name}</a>
            </span>
        </p>
    </div>


    <br />
    <br />

    <div id="attachments">
        <p>附件列表</p>
        <ul>
            #{list items:share_session.attachments, as:'attachment'}
            <li>
                <a href="${attachment.path}">${attachment.file_name}</a>
            </li>
            #{/list}
        </ul>

    </div>

    <a href="@{dashboard.Dashboard.index()}">Back to首页</a>
</div>

#{/content}



